<div class="container" id="popup">
    <div class="container">
        <div class="row mx-5">
            <p class="d-flex justify-content-center fw-bolder text-warning">Sponsor Information</p>
            <hr>
        </div>

        <div *ngIf="isLoading" class="loader">
            <img src="/assets/Images/Spinner-3.gif">
        </div>

        <form *ngIf="!isLoading" [formGroup]="sponsorForm" (ngSubmit)="onSubmit()">
            <div class="row mx-5">
                <div class="col-md-6 col-12">
                    <p class="fw-bolder">Arabic Name</p>
                    <input class="form-control" type="text" formControlName="ArabicName" placeholder="eg:  ناصر الشيخ" required><br>
                    <div *ngIf="sponsorForm.get('ArabicName')?.touched && sponsorForm.get('ArabicName')?.invalid">
                        <p class="error">{{ getErrorMessage('ArabicName') }}</p>
                      </div>
                    <p class="fw-bolder">Latin Name</p>
                    <input class="form-control" type="text" formControlName="LatinName" placeholder="eg: Nasser Al-shaikh" required>
                    <div *ngIf="sponsorForm.get('LatinName')?.touched && sponsorForm.get('LatinName')?.invalid">
                        <p class="error">{{ getErrorMessage('LatinName') }}</p>
                      </div>
                </div>
                <div class="col-md-6 col-12">
                    <p class="fw-bolder">email</p>
                    <input class="form-control" type="email" #email formControlName="Email" placeholder="eg: johnStarck@gmail.com" required><br>
                    <div *ngIf="sponsorForm.get('Email')?.touched && sponsorForm.get('Email')?.invalid">
                        <p class="error">{{ getErrorMessage('Email') }}</p>
                      </div>
                    <p class="fw-bolder">Phone</p>
                    <input class="form-control" type="text" #phone formControlName="Phone" placeholder="eg: 01123456789" required>
                    <div *ngIf="sponsorForm.get('Phone')?.touched && sponsorForm.get('Phone')?.invalid">
                        <p class="error">{{ getErrorMessage('Phone') }}</p>
                      </div>
                </div>
            </div><br>
    
            <div class="row mx-5">  
                <div class="col-md-4 col-12">
                    <p class="fw-bolder">Address</p>
                    <input class="form-control " type="text" #address formControlName="Address" placeholder="eg: riyadh - saudi arabia" required>
                    <div *ngIf="sponsorForm.get('Address')?.touched && sponsorForm.get('Address')?.invalid">
                        <p class="error">{{ getErrorMessage('Address') }}</p>
                      </div>
                </div>
                <div class="col-md-4 col-12">
                    <p class="fw-bolder">Code</p>
                    <input class="form-control " type="text" #code formControlName="Code" placeholder="eg: 12345" required>
                    <div *ngIf="sponsorForm.get('Code')?.touched && sponsorForm.get('Code')?.invalid">
                        <p class="error">{{ getErrorMessage('Code') }}</p>
                      </div>
                </div>
                <div class="col-md-4 col-12">
                    <p class="fw-bolder">Postal code</p>
                    <input class="form-control " type="text" #posCode formControlName="PostalCode" placeholder="eg: 12121" required>
                    <div *ngIf="sponsorForm.get('PostalCode')?.touched && sponsorForm.get('PostalCode')?.invalid">
                        <p class="error">{{ getErrorMessage('PostalCode') }}</p>
                      </div>
                </div>
    
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-md-3 col-6">
                    <p class="fw-bolder">Sponsor Type</p>
                    <input class="form-control " type="text" #type formControlName="Type" placeholder="eg: legal" required>
                    <div *ngIf="sponsorForm.get('Type')?.touched && sponsorForm.get('Type')?.invalid">
                        <p class="error">{{ getErrorMessage('Type') }}</p>
                      </div>
                </div>
                <div class="col-md-3 col-6">
                    <p class="fw-bolder">Max Limit</p>
                    <input class="form-control " type="number" #maxL formControlName="MaxLimit" placeholder="eg: 500" required>
                    <div *ngIf="sponsorForm.get('MaxLimit')?.touched && sponsorForm.get('MaxLimit')?.invalid">
                        <p class="error">{{ getErrorMessage('MaxLimit') }}</p>
                      </div>
                </div>
                <div class="col-md-3 col-6">
                    <p class="fw-bolder">Financial Limit</p>
                    <input class="form-control " type="number" #fncL formControlName="FinancialLimit" placeholder="eg: 50000" required>
                    <div *ngIf="sponsorForm.get('FinancialLimit')?.touched && sponsorForm.get('FinancialLimit')?.invalid">
                        <p class="error">{{ getErrorMessage('FinancialLimit') }}</p>
                      </div>
                </div>
                <div class="col-md-3 col-6">
                    <p class="fw-bolder">Time Limit</p>
                    <input class="form-control " type="number" #tmeL formControlName="TimeLimit" placeholder="eg: 3" required>
                    <div *ngIf="sponsorForm.get('TimeLimit')?.touched && sponsorForm.get('TimeLimit')?.invalid">
                        <p class="error">{{ getErrorMessage('TimeLimit') }}</p>
                      </div>
                </div>
            </div>


            <hr>
            <div class="row mx-5">
                <p class="d-flex justify-content-center fw-bolder text-warning">Sponsor's Contact Officer Information</p>
                <hr>
            </div>
    
            <div formArrayName="contactOfficers">
              <div *ngFor="let officer of contactOfficers.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row mx-5">
                    <div class="col-md-6 col-12">
                        <p class="fw-bolder">Arabic Name</p>
                        <input class="form-control" type="text" id="officerAName" formControlName="officerArabicName" placeholder="eg: ناصر الشيخ" required><br>
                        <div *ngIf="sponsorForm.get('officerArabicName')?.touched && sponsorForm.get('officerArabicName')?.invalid">
                            <p class="error">{{ getErrorMessage('officerArabicName') }}</p>
                          </div>
                        <p class="fw-bolder">Latin Name</p>
                        <input class="form-control" type="text" #eName id="officerName" formControlName="officerLatinName" placeholder="eg: Nasser Al-shaikh" required>
                        <div *ngIf="sponsorForm.get('officerLatinName')?.touched && sponsorForm.get('officerLatinName')?.invalid">
                            <p class="error">{{ getErrorMessage('officerLatinName') }}</p>
                          </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <p class="fw-bolder">email</p>
                        <input class="form-control" type="email" #email id="officerEmail" formControlName="officerEmail" placeholder="eg: johnStarck@gmail.com" required><br>
                        <div *ngIf="sponsorForm.get('officerEmail')?.touched && sponsorForm.get('officerEmail')?.invalid">
                            <p class="error">{{ getErrorMessage('officerEmail') }}</p>
                          </div>
                        <p class="fw-bolder">Phone</p>
                        <input class="form-control" type="text" #phone id="officerPhone" formControlName="officerPhone" placeholder="eg: 01123456789" required>
                        <div *ngIf="sponsorForm.get('officerPhone')?.touched && sponsorForm.get('officerPhone')?.invalid">
                            <p class="error">{{ getErrorMessage('officerPhone') }}</p>
                          </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          
            <button class="mt-3 ms-auto" type="button" (click)="addContactOfficer()">Add Contact Officer</button>
            <hr>

            <div class="row m-3">
                <div class="col d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="UPDATE" style="width: 12em; height: 2em;"/>
                </div>
            </div>
        </form>
        
    </div>
</div>