.loader{
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center; 
}

.center{
    top: 30%;
    color: red;
}

p{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col2{
    font-weight: bolder;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.primary-link {
    color: #314047;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a {
    color: #02af74;
    text-decoration: none;
}
